@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

$bg-color: rgba(17, 17, 17, 1);
$primary-color: #f5f4dc;

.container {
  height: 507px;
  font-family: "Inter", sans-serif;
  background-color: $bg-color;
  color: $primary-color;

  div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;

    ul {
      list-style: none;
      margin: 5rem;
      margin-right: 2rem;

      li {
        margin: 15px;
        padding-bottom: 15px;
        list-style: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        span {
          font-weight: 700;
          font-size: 29.8802px;
          line-height: 36px;
        }
        .icon {
          height: 25px;
          width: 25px;
          color: #101010;
          background-color: $primary-color;
          margin-right: 3px;
          margin-bottom: 0;
          padding: 3px;
          border-radius: 50%;
        }
      }
      .bold_styling {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
  div:last-child {
    display: flex;
    justify-content: center;
  }
}
